---
services:
  client:
    image: client
    build: 
      context: ./client
      dockerfile: Dockerfile
    ports:
      - 80:80
  server:
    image: server
    build: 
      context: ./server
      dockerfile: Dockerfile
    ports:
      - 25565:25565
